@tailwind base;
@tailwind components;
@tailwind utilities;

:root.dark {
  --background: 20 22% 7%;
  --foreground: 30 20% 93%;
  --card: 20 20% 12%;
  --border: 20 16% 21%;
  --primary: 14 78% 52%;
  --primary-foreground: 0 0% 100%;
  --muted-foreground: 25 12% 63%;
}

html {
  color-scheme: dark;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

.text-balance {
  text-wrap: balance;
}
